{% extends 'base.html' %} 

{% block title %}
<title>Hammer of the Year - Add Voters</title>
{% endblock %}

{% block content %}
<body>
    <h1>Add a Voter</h1>
    <p>
        <div class='form'>
             <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.voters_name.label }} {{ form.voters_name }}
                <br>
                {{ form.reason.label }} {{ form.reason }}
                <br>
                {{ form.submit }}
                <br>
            </form>
        </div>
    </p>
</body>
{% endblock %}