<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
              <a class="nav-link" href="/add_player">Add Player</a>
              <a class="nav-link" href="/player_list">View Player List</a>
              <a class="nav-link" href="/create_voter">Add Voter</a>
              <a class="nav-link" href="/voter_list">View Voter List</a>
            </div>
          </div>
        </div>
      </nav>
  </head>
  <body>

    
  </body>
</html>
<body>
    <h1 style='color:rgb(0, 0, 0);'>Hammer of the Year</h1>
    <div class='navbar'>
        <p>Please use the options shown to move around.</p>
    </div>
    {% block body %}
    {% endblock body %}
</body>