{% extends 'base.html' %} 

{% block title %}
<title>Players</title>
{% endblock %}

{% block content %}
<body>
    <h1>Update a Player</h1>
    <p>
        <div class='form'>
             <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.players_name.label }} {{ form.players_name }}
                <br>
                {{ form.position.label }} {{ form.position }}
                <br>
                {{ form.shirt_number.label }} {{ form.shirt_number }}
                <br>
                {{ form.submit }}
                <br>
            </form>
        </div>
    </p>
</body>
{% endblock %}